<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sg.intelligentcustomerservice.mapper.MessageMapper">

    <resultMap id="BaseResultMap" type="cn.sg.intelligentcustomerservice.model.Message">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="role" property="role"/>
        <result column="content" property="content"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="findAllByUserId" resultMap="BaseResultMap">
        SELECT *
        FROM t_message
        WHERE user_id = #{userId}
        ORDER BY create_time ASC
    </select>

</mapper>
